<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->

<div id="top"></div>
<div id="mid"  >


    <h4>2) Concordo que...</h4>



    <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 1" ng-true-value="'A'" class="md-warn md-align-top-left">
        <span class="ipsum">
            Primeiro a obrigação, depois a diversão!
        </span>
    </md-checkbox>
  <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 2" ng-true-value="'B'" class="md-primary" >
        <span class="ipsum">
            Toda a minha vida foi uma constante entrega de amor!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 3" ng-true-value="'C'" class="md-primary" >
        <span class="ipsum">
            Gosto de criar uma imagem positiva de mim mesmo.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 4" ng-true-value="'D'" class="md-primary" >
        <span class="ipsum">
            Sou extremamente sensível!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 5" ng-true-value="'E'" class="md-primary" >
        <span class="ipsum">
            Ter que ir a uma festa é um sofrimento para mim, especialmente por ter que ouvir tanta bobagem!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 6" ng-true-value="'F'" class="md-primary" >
        <span class="ipsum">
            Sempre demoro a concretizar algo, pois fico imaginando as possíveis conseqüências
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 7" ng-true-value="'G'" class="md-primary" >
        <span class="ipsum">
            Adoro explorar territórios novos. Gostaria de poder voar ou de colocar uma mochila nas costas e sair viajando pelo mundo!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 8" ng-true-value="'H'" class="md-primary" >
        <span class="ipsum">
           Para mim não existem obstáculos, sou capaz de qualquer esforço para conseguir o que quero.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 9" ng-true-value="'I'" class="md-primary" >
        <span class="ipsum">
          Tenho procurado pensar mais em mim, no meu bem-estar, mas confesso que é difícil.
        </span>
    </md-checkbox>


</div>

<div id="bot"></div>

