<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->

<div id="top"></div>
<div id="mid"  >


    <h4>4) Sinto que...Sinto que...</h4>



    <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 1" ng-true-value="'A'" class="md-warn md-align-top-left">
        <span class="ipsum">
            Estou sempre dizendo: “eu tenho que...”, “eu deveria...”
        </span>
    </md-checkbox>
  <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 2" ng-true-value="'B'" class="md-primary" >
        <span class="ipsum">
            Com jeitinho, consigo tudo o que quero.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 3" ng-true-value="'C'" class="md-primary" >
        <span class="ipsum">
            Tenho grandes dificuldades para ficar quieto, meditando!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 4" ng-true-value="'D'" class="md-primary" >
        <span class="ipsum">
            Não posso ser feliz em um mundo tão cego e insensível!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 5" ng-true-value="'E'" class="md-primary" >
        <span class="ipsum">
            Gosto de ser reconhecido pelos meus conhecimentos especializados.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 6" ng-true-value="'F'" class="md-primary" >
        <span class="ipsum">
            Tomar decisões é algo que não gosto e tento evitar sempre que possível.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 7" ng-true-value="'G'" class="md-primary" >
        <span class="ipsum">
            Considero-me uma pessoa muito criativa e audaciosa. Planejar me dá prazer, executar nem sempre.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 8" ng-true-value="'H'" class="md-primary" >
        <span class="ipsum">
          Abraço com muita determinação as causas que considero justas e verdadeiras.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 9" ng-true-value="'I'" class="md-primary" >
        <span class="ipsum">
           Estou sempre disposto a ajudar os outros.
        </span>
    </md-checkbox>


</div>

<div id="bot"></div>

