<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->


    <h4>7) Na verdade</h4>



    <md-checkbox  aria-label="Checkbox 1" ng-checked="exists('A')" ng-click="toggle('A')" class="md-primary">
        <span class="ipsum">
           Sempre faço tudo bem feito!
        </span>
    </md-checkbox>
  <md-checkbox  aria-label="Checkbox 2" ng-checked="exists('B')" ng-click="toggle('B')" class="md-primary" >
        <span class="ipsum">
           Adoro aplausos! A vida é um espetáculo...
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 3" ng-checked="exists('C')" ng-click="toggle('C')" class="md-primary" >
        <span class="ipsum">
           Modestamente, sou o melhor na minha área.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 4" ng-checked="exists('D')" ng-click="toggle('D')" class="md-primary" >
        <span class="ipsum">
           Me sinto diferente aos demais, sinto o que ninguém é capaz de sentir.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 5" ng-checked="exists('E')" ng-click="toggle('E')" class="md-primary" >
        <span class="ipsum">
           Eu sou capaz de ter momentos privados de lazer; sozinho é melhor!
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 6" ng-checked="exists('F')" ng-click="toggle('F')" class="md-primary" >
        <span class="ipsum">
            Não gosto nada de falar de mim. Além de não gostar, não tenho a menor vontade.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 7" ng-checked="exists('G')" ng-click="toggle('G')" class="md-primary" >
        <span class="ipsum">
           Sou um pouco (ou muito) narcisista, simplesmente me adoro!
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 8" ng-checked="exists('H')" ng-click="toggle('H')" class="md-primary" >
        <span class="ipsum">
           Sinto que posso conquistar o mundo!
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 9" ng-checked="exists('I')" ng-click="toggle('I')" class="md-primary" >
        <span class="ipsum">
           Procuro me ajustar ao mundo, dividindo-me entre todos os que me rodeiam, facilitando-lhes ou resolvendo a vida.
        </span>
    </md-checkbox>


      <nav aria-label="..." class="navbar-fixed-bottom text-center" >
            <ul class="pagination">
                
                <li class=""><a href="#!/questao1">1</a></li>
                <li class=""><a href="#!/questao2">2</a></li>
                <li class=""><a href="#!/questao3">3</a></li>
                <li class=""><a href="#!/questao4">4</a></li>
                <li class=""><a href="#!/questao5">5</a></li>
                <li class=""><a href="#!/questao6">6</a></li>
                <li class="active"><a href="#!/questao7">7</a></li>
            </ul>
        </nav>
    <button type="button" ng-click="enviar()">Enviar</button>