<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->

<div id="top"></div>
<div id="mid"  >


    <h4>6) Sei que...</h4>



    <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 1" ng-true-value="'A'" class="md-warn md-align-top-left">
        <span class="ipsum">
            Desde muito cedo me foi incutido um senso de responsabilidade, no sentido de que deveria dar o exemplo.
        </span>
    </md-checkbox>
  <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 2" ng-true-value="'B'" class="md-primary" >
        <span class="ipsum">
           Ajudar as pessoas é maravilhoso.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 3" ng-true-value="'C'" class="md-primary" >
        <span class="ipsum">
            É difícil ter tempo para minhas próprias necessidades.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 4" ng-true-value="'D'" class="md-primary" >
        <span class="ipsum">
           Melancolia, esse é meu estado permanente!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 5" ng-true-value="'E'" class="md-primary" >
        <span class="ipsum">
            Tenho dificuldades para viver relacionamentos amorosos.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 6" ng-true-value="'F'" class="md-primary" >
        <span class="ipsum">
            Sentir-se seguro é essencial.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 7" ng-true-value="'G'" class="md-primary" >
        <span class="ipsum">
            Minhas grandes paixões são as idéias, os novos conhecimentos e desafios.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 8" ng-true-value="'H'" class="md-primary" >
        <span class="ipsum">
           Nunca estou satisfeito, sempre desejo conquistar mais e mais!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 9" ng-true-value="'I'" class="md-primary" >
        <span class="ipsum">
          Costumo adiar muitas coisas importantes para mim.
        </span>
    </md-checkbox>


</div>

<div id="bot"></div>

