<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->

<div id="top"></div>
<div id="mid"  >


    <h4>3) Em geral...</h4>



    <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 1" ng-true-value="'A'" class="md-warn md-align-top-left">
        <span class="ipsum">
            Meu dia-a-dia é tenso, cheio de cobranças e exigências.
        </span>
    </md-checkbox>
    <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 2" ng-true-value="'B'" class="md-primary" >
        <span class="ipsum">
            Agradar aos outros é bom, porque desse modo recebo o que quero.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 3" ng-true-value="'C'" class="md-primary" >
        <span class="ipsum">
            Tenho grandes dificuldades para expressar meus sentimentos.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 4" ng-true-value="'D'" class="md-primary" >
        <span class="ipsum">
            Nada no presente me faz feliz: a lembrança do passado é muito forte!
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 5" ng-true-value="'E'" class="md-primary" >
        <span class="ipsum">
            Somente com pessoas do meu nível intelectual me sinto mais à vontade.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 6" ng-true-value="'F'" class="md-primary" >
        <span class="ipsum">
            Minha imaginação é poderosa e me provoca uma grande ansiedade.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 7" ng-true-value="'G'" class="md-primary" >
        <span class="ipsum">
            Sou uma pessoa muito versátil, sei fazer várias coisas diferentes.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 8" ng-true-value="'H'" class="md-primary" >
        <span class="ipsum">
           A vida é uma luta constante, só me aparecem desafios, só entro em complicações, mas no fundo até que gosto.
        </span>
    </md-checkbox>
     <md-checkbox ng-model="respostas.resposta1" aria-label="Checkbox 9" ng-true-value="'I'" class="md-primary" >
        <span class="ipsum">
          Demoro a fazer as coisas, mas tento fazê-las bem feitas.
        </span>
    </md-checkbox>


</div>

<div id="bot"></div>

