<!DOCTYPE html>
<!--
Trabalho Simplex
Autores:Leandro;Jonathan;Yuri 
-->


    <h4>6) Sei que...</h4>



    <md-checkbox  aria-label="Checkbox 1" ng-checked="exists('A')" ng-click="toggle('A')" class="md-primaryt">
        <span class="ipsum">
            Desde muito cedo me foi incutido um senso de responsabilidade, no sentido de que deveria dar o exemplo.
        </span>
    </md-checkbox>
  <md-checkbox  aria-label="Checkbox 2" ng-checked="exists('B')" ng-click="toggle('B')" class="md-primary" >
        <span class="ipsum">
           Ajudar as pessoas é maravilhoso.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 3" ng-checked="exists('C')" ng-click="toggle('C')" class="md-primary" >
        <span class="ipsum">
            É difícil ter tempo para minhas próprias necessidades.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 4" ng-checked="exists('D')" ng-click="toggle('D')" class="md-primary" >
        <span class="ipsum">
           Melancolia, esse é meu estado permanente!
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 5" ng-checked="exists('E')" ng-click="toggle('E')" class="md-primary" >
        <span class="ipsum">
            Tenho dificuldades para viver relacionamentos amorosos.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 6" ng-checked="exists('F')" ng-click="toggle('F')" class="md-primary" >
        <span class="ipsum">
            Sentir-se seguro é essencial.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 7" ng-checked="exists('G')" ng-click="toggle('G')" class="md-primary" >
        <span class="ipsum">
            Minhas grandes paixões são as idéias, os novos conhecimentos e desafios.
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 8" ng-checked="exists('H')" ng-click="toggle('H')" class="md-primary" >
        <span class="ipsum">
           Nunca estou satisfeito, sempre desejo conquistar mais e mais!
        </span>
    </md-checkbox>
     <md-checkbox  aria-label="Checkbox 9" ng-checked="exists('I')" ng-click="toggle('I')" class="md-primary" >
        <span class="ipsum">
          Costumo adiar muitas coisas importantes para mim.
        </span>
    </md-checkbox>


        <nav aria-label="..." class="navbar-fixed-bottom text-center" >
            <ul class="pagination">
                
                
                <li class=""><a href="#!/questao1">1</a></li>
                <li class=""><a href="#!/questao2">2</a></li>
                <li class=""><a href="#!/questao3">3</a></li>
                <li class=""><a href="#!/questao4">4</a></li>
                <li class=""><a href="#!/questao5">5</a></li>
                <li class="active"><a href="#!/questao6">6</a></li>
                <li class=""><a href="#!/questao7">7</a></li>
            </ul>
        </nav>