
<div id="top"></div>
<div  id="mid" >
    <div class="white-card">
        <h1 class="text-center">Resultado: </h1><h4> <div class="text-center" ng-repeat="perfil in perfis">'{{perfil}}'</div></h4>
        <br>
        <br>
        <p><strong>1.PERFECCIONISTA</strong>

            O traço 1 é crítico, questionador, perfeccionista e metódico. São  pessoas centradas na ação, tem um   senso prático e exigente, que dão prioridade às tarefas a serem realizadas. Exige tanto de si mesmo, quanto dos outros. Alguns tendem a ser moralistas e gostam de ditar as regras do jogo. Quando falham, podem se sentir frustrados e manifestar agressividade. Profissionalmente esse traço tem aptidão para cargos como administração de empresas, direito , jornalistas, engenharias, arquitetura, designers, contabilidade, pesquisadores e cientistas.
        </p>

        <p>
            <strong>2.PRESTATIVO</strong>

            É solícito, amoroso e tem necessidade de agradar aos outros. Acredita que tem muito a contribuir e gosta que isso seja reconhecido. São pessoas centradas na emoção , tem uma percepção mais aguçada dos outros. Alguns perdem a liberdade por estar sempre tentando satisfazer os outros. Mas em alguns momentos podem se tornar orgulhosos, porém se defendem através de uma atitude solícita e a auto imagem bem intencionada. Podem apresentar dificuldade para aceitar ajuda, demonstrando total independência. Entre suas habilidades estão profissões que exigem contatos interpessoais constantes ligadas à filantropia e beneficência, como psicólogos, gestores de pessoas, dentistas, biólogos, médicos, cirurgião plástico, arquitetos e vendedores.
        <p>

            <strong>3.DESEMPENHADOR</strong>

            Ligados ao sucesso, priorizam a imagem que passarão para os outros. Buscam sempre fazer coisas para ter êxito que imaginam que será apreciado. São competitivos e gostam de ganhar e mostrar que são capazes. Devem ter cuidado com o excesso de vaidade. São boas para trabalhar, devido sua eficiência, objetividade e dedicação, tendo boas ideias para conseguir as metas. Sua habilidade de negociação os ajudam a conseguir o que querem. Elas são descomprometidas, mudam de lado ou abandonam algo quando encontram algo melhor.  Trabalham normalmente em áreas em que há possibilidades de crescimento, Tendem a ser líderes e podem se dar bem na carreira política, administração, consultoria , vendas, publicidade e trabalhos autônomos.
        </p>
        <p>
            <strong>4.SENSIBILIDADE </strong>

            Este traço se refere a pessoas sensíveis às adversidades sociais. É inconformado com o presente, por isso está sempre ligado ao passado ou sonhando com o futuro. A sensível percepção faz delas pessoas que veem o que a maioria não vê. A crítica e a originalidade fazem  destas pessoas reconhecidas como autênticas. São pessoas insatisfeitas, com foco no que falta, tornando muitas vezes críticas. Devido a grande sensibilidade, profissionalmente se adequam a profissões como as de artistas plásticos, estilistas, jornalistas, escritores, poetas, assistentes sociais e antropólogos.
        </p>
        <p>
            <strong>5.OBSERVADOR</strong>

            Cuidadoso, não faz nada sem antes refletir. Fica observando de longe para analisar cuidadosamente as situações e saber em que terreno pisará, porque têm medo de correr riscos. Por isso, pode acabar levando uma vida solitária.  São pessoas reservadas, objetivas, que deixam de lado as emoções. Analíticas e sérias, sendo mais intelectuais, tendo uma curiosidade pelo entendimento, tornando-se planejadores extremamente racionais. Preferem o racionalismo ao empirismo, nunca desejando o que não seja lógico e nunca expressando sentimentos, que para elas são inadequados. Adoram informação, podendo ter muitos interesses ou alguns em assuntos entendidos por poucos, por isso apreciam a leitura e os livros de informações. Este traço terá sucesso em atividades de planejamento e raciocínio lógico como pesquisador, biólogos, médicos pesquisadores,  astrônomo, físico , engenheiro, profissional na área de informática e matemático.
        </p>
        <p>
            <strong>6.CAUTELOSO</strong>

            Estão sempre imaginando o resultado das suas ações e por vezes costumam ver o lado negativo das coisas, porque sempre temem maus acontecimentos. Buscam a segurança e estabilidade. Quando se encontram em situações complicadas, querem resolver logo para passar o perigo. São pessoas atentas, realistas, inseguras e intuitivas, preferem estar preparados e evitar improvisos. Preferem o que conhecem e se preparam para o que não conhecem, como o futuro que é incerto. Procuram clareza em regras e regulamentos, são muito ansiosas e não suportam suspense.
            Se saiem bem como advogados, analistas financeiros e de produção, sociólogos, antropólogos e críticos.
        </p>
        <p>
            <strong>7.OTIMISTA</strong>

            Gosta de desfrutar os prazeres da vida sem muitos compromissos. Acha que trabalhar é um mal necessário para obter momentos de prazer e liberdade. Muitas vezes, é esperto e tem um ar desinteressado que o torna encantador. Gosta de liderar, mas de uma forma simpática e disfarçada para que não pareça liderança. É criativo , otimista com boa capacidade para buscar soluções. Artes plásticas, marketing, artes cênicas, designers, produção musical e fotógrafo, são profissões indicadas para esse traço.
        </p>
        <p>
            <strong>8.CONFRONTADOR</strong>

            Procura viver intensamente, mesmo que isso signifique cometer excessos. Gosta do poder e luta por ele. Opõe-se a tudo aquilo que considera injusto. Não suporta a idéia de depender dos outros ou de ser considerado fraco. Adora ter o controle das situações e sempre cria suas próprias regras. Esse jeito atrevido do traço 8 o torna bom empreendedor, comerciante e inventor.
        </p>
        <p>
            <strong>9.MEDIADOR</strong>

            Tem perfil  voltado para o equilíbrio, não gosta de ser perturbado. Tem um jeito de ser o melhor dos amigos, porque procura sempre satisfazer os outros para obter esta tranqüilidade. É generoso porque quer permanecer sem problemas. Não costuma se comprometer e acaba concordando com o ponto de vista do outro apenas para não ter que discutir. Como é um bom ouvinte e articulador, se sairá bem em atividades como relações internacionais, diplomacia e negociação . 
        </p>


        <div class="row text-center">
            <button type="button" class="btn btn-default btn-lg" ng-click="comercarFormulario()">Reecomeçar</button>
        </div>
    </div>
</div>
<div class="bot">

</div>